@font-face {
    font-family: 'FreeMono';
    src: url('FreeMono.woff') format('woff'),
         url('FreeMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreeMono';
    src: url('FreeMonoBold.woff') format('woff'),
         url('FreeMonoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FreeMono';
    src: url('FreeMonoOblique.woff') format('woff'),
         url('FreeMonoOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
